* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    background-color: dodgerblue;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    overflow: hidden;
}

header {
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
}

.filters {
    background-color: deepskyblue;
    display: grid;
    grid-template-rows: 30px minmax(0, 6fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 10px;
}

.section {
    text-align: center;
    background-color: coral;
}

hr {
    margin: 2px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    background-color: lightcyan;
}

.option {
    width: 50px;
    padding: 5px;
    margin: 5px;
    background-color: greenyellow;
}

.list {
    background-color: floralwhite;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    overflow-y: scroll;
}

.launch {
    background-color: pink;
    height: 200px;
    margin: 10px;
}

footer {
    text-align: center;
}

