html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    background-color: coral;
    height: 100%;
    width: 100%;
}

#root {
    background-color: aqua;
    height: 95%;
    width: 95%;
    position: relative;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
}

.App {
    background-color: dodgerblue;
    height: 95%;
    width: 95%;
    position: relative;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 1fr 10fr 1fr;
}

header {
    grid-area: header;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.filters {
    background-color: deepskyblue;
    display: grid;
    grid-template-rows: 30px minmax(0, 6fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 10px;
}

.section {
    text-align: center;
    background-color: coral;
}

hr {
    margin: 2px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    background-color: lightcyan;
}

.option {
    width: 50px;
    padding: 5px;
    margin: 5px;
    background-color: greenyellow;
}

.list {
    background-color: floralwhite;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.launch {
    background-color: pink;
    height: 200px;
    margin: 10px;
}

footer {
    grid-area: footer;
    text-align: center;
}

